.limite {
    color: red;
    font-weight: bold;
}

#dessin, #img-dessin {
    position: relative;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

#dessin div {
    position: absolute;
}

html {
    background: #000;
    color: #fff;
    font: 1em sans-serif;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
  